node_version/node_modules/

node_version/database/**/*.json

node_version/public/avatars/user-avatars/*
node_version/public/avatars/default-avatars/*.jpg
node_version/public/avatars/user-avatars/*.png

app/static/avatars/user-avatars/*

.env

__pycache__/